@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
html,body{
	height: 100%;
	background: #fff;
}
span{
	margin: 0;
	padding: 0;
}
img,
picture,
video,
embed {
   max-width: 100%;
}
.header {
   width: 100%;

}
.container {
   max-width: 1440px;
   margin: 0 auto;
}
.logo{
	font-family: Montserrat, sans-serif;
	text-align: center;
	margin-top: 20px;
	color: #006400;
	padding-bottom: 20px;
	background-color: #fff;
}
.logoum{
	color: Dark Green;
	font-weight: bold;
	font-size: 30px !important;
	font-family: Noto Serif;	
}
.main-container{
	height: 480px;
	width: 100%;

}
.main-container-foto{
    height: 100%;
	width: 100%;
    background-position: center;
    background-position: top;
    background-image: url(../imagens/consatir.jpg);
    background-repeat: no-repeat;
     
}
.main-container-logo{
	padding-top: 40px;
}
.main-container-foto-titulo{
	z-index: 999;
	color: #ffffff;
	font-family: Montserrat, sans-serif;
	font-size: 1.65em;
	padding-top: 5px;
	margin: 1em;

}
.main-container-foto-frase{
	z-index: 999;
	color: #DCDCDC;
	font-family: Montserrat, sans-serif;
	font-size: 1.1em;
	margin: 1.3em;

}
.segundo-container{
	
	text-align: center;
	font-family: Montserrat, sans-serif;

}
.segundo-container-frase{
	margin: 1.1em;
	text-align: center;
		
}
.terceiro-container{
	height: 100%;
	
}
.terceiro-container-slides{
	background-image:url(../imagens/soluçoes.jpg);
}
.terceiro-container-slides-botao{
	
}
.slides{
	object-fit: cover;
	object-position: center;
}

.quarto-container{
	
	text-align: center;
	font-family: Montserrat, sans-serif;
	
}
.quarto-container-bloco{
    display: inline-block;
    background-color: #ffffff;
    width: 15em;
    height: 15em;
}
.quarto-container-img{

}
.quinto-container{
	
}
.quinto-container-form{
	text-align: center;


}
.sexto-container{
	background-color: #7d131a;
	color: #fff;
	overflow: auto;
}
.textos{
	color: #ffffff;
}
.center{
	text-align: center;
}
.titulo{
	z-index: 999;
	text-align: center;
	color: #006400;
	font-family: Montserrat, sans-serif;
	font-size: 1.8em;
	margin-bottom: 20px;
	font-weight: bold;
}
.localizacao{
	color: #fff !important;
}
.margem{
	margin-top: 70px;
	margin-bottom: 70px;
}
.direitos{
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;

}
.swiper-pagination-bullet{
	background-color: #47d147 !important;
}
.clearfix:before,
.clearfix:after {
   content: " ";
   display: table;
}
 
.clearfix:after {
   clear: both;
}
.clearfix {
   *zoom: 1;
}
*, *:before, *:after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
.footer {
   width: 100%;
   margin-top: 2.4em;
   margin-bottom: 2.4em;
   float: left;
   clear: both;
}